.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}

nav li {display: inline; background-color: lightgreen;}
nav li a {color: black}
/*input {border-radius: 50%;}*/
body {
    background-color: lightgray;
    color: black;
}

img {
    width: 300px;
    height: 300px;
    
    /*Scale down will take the necessary specified space that is 400px x 400px without stretching the image*/
    object-fit: scale-down;

    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
}

.bolded {
    font-weight: bold;
}

.title {
    margin-top: 15px;
}